<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" 	href="../static/css/bootstrap.min.css" />
</head>
<body onload="document.form.username.focus();">
<div th:replace="navigation :: header"></div>
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <p th:if="${param.logout}" class="alert">You have been logged out</p>

            <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form name="form" th:action="@{/login}" action="/login" method="POST">
                <label for="username">Username</label>
                <input type="text" name="username" id="username" class="form-control input-sm chat-input"
                       placeholder="username"/>
                <br/>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" class="form-control input-sm chat-input"
                       placeholder="password"/>
                <br/>

                <div class="wrapper">
                <button class="btn btn-primary">login</button>
                </div>
                <!--/* Thymeleaf automatically inserts a hidden input for the _csrf token, if you use the th:action on the form */-->
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>


</body>
</html>