<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-sm-7">
            Products
            <div class="row" th:each="product : ${products}">
                <div class="col-sm-7" th:text="${product.description}">description</div>

                <div class="col-sm-2"> $ <span
                        th:text="${#numbers.formatDecimal(product.pricePerItem, 0, 'COMMA', 2, 'POINT')}">10.00</span>
                </div>
                <div class="col-sm-3"><a th:href="@{/add/{id}/1(id=${product.id})}">add to basket</a></div>
            </div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            Basket
            <div class="row" th:each="lineItem : ${basket.items.values()}">
                <div class="col-sm-9" th:text="${lineItem.product.description}">description</div>
                <div class="col-sm-1" th:text="${lineItem.amount}">count</div>
                <div class="col-sm-1"><a th:href="@{/add/{id}/1(id=${lineItem.product.id})}">+</a></div>
                <div class="col-sm-1"><a th:href="@{/add/{id}/-1(id=${lineItem.product.id})}">-</a></div>
            </div>
            <div class="row">
                <div class="col-sm-10">Total:
                </div>
                <div class="col-sm-2" th:text="${#numbers.formatDecimal(basket.total, 0, 'COMMA', 2, 'POINT')}">
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>